@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
  font-size: 16px;
}

nav{
  background: rgba(255, 255, 255, 0.90);
box-shadow: 0px -1px 24px 0px rgba(0, 0, 0, 0.25);
backdrop-filter: blur(45px);
}
.nav-link{
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.herosection{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(36.25% 42.96% at 17.08% 34.62%, #1B206D 0%, #181940 100%);
  flex-shrink: 0;
}

.heroimage{
  width: 700px;
  height: 600px;
  background-image: url('../public/map.png');
  background-repeat: no-repeat;
  background-size: cover;
 /* border: 1px solid white; */
 background-position: bottom right;
  
}

.btn-primary{
  background: #253062;
  padding: 8px 24px;
  border-radius: 40px;
  border: 1px solid #F0EFEE;
  box-shadow: 0px 2px 20px -5px rgba(91, 119, 245, 0.40);
  justify-content: center;
  align-items: center;
  gap: 8px;
  
}

.text-yellow{
  color: var(--Accent, #FFC300);
  
}
.text-gray{
  color: var(--white-gray, #D6D3D3);
  
}

.btn-secondary{
 display: flex;
 overflow: hidden;
 padding: 8px 24px;
 border-radius: 40px;
 border: 1px solid #3FA8FF;
 box-shadow: 0px 2px 20px -5px rgba(91, 119, 245, 0.40);
 justify-content: center;
 align-items: center;
 gap: 8px;
 color: #253062;
 background-color: white;
 backdrop-filter: blur(30px);
  
}

/* display */

.display-1{
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  
}






/* Features cards */

.features{
 background: #FFF;
 
}

.feature-card, .feature-card * {
  box-sizing: border-box;
  }
.feature-card {
 background: #f7f7f7;
  border-radius: 8px; 
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;

  height: 280px;
  position: relative;
  /* box-shadow:  0px 0px 30px -4px rgba(0, 0, 0, 0.20); */
  overflow: hidden;
  backdrop-filter: blur(45px);
  }

.icon {
  flex-shrink: 0;
  width: 32px;
  height: 32px;
  position: relative;
  }

.website {
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  }

.heading-style-h5 {
  color: var(--dark-blue, #181940);
  font-family: 'Poppins-SemiBold', sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  position: relative;
  align-self: stretch;
  height: 49px;
  }

.feature-descritption {
color: var(--black, rgba(16, 16, 16, 0.80));
  text-align: left;
  font-family: 'Poppins-Regular', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  }

  /* Section 3 */

  .section-3{
    height: 90vh;
    background: var(--neutral-light-gray, #F5F5F5);

  }

  /* .box-img{
    width: 700px;
    height: 600px;
    background-image: url('../public/images/illustration.png');
    background-repeat: no-repeat;
    background-size: cover;
   /* border: 1px solid white; */
   /* background-position: bottom right;
    
  } */ 

  .section__container{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
   

  }

  .section__content{
    display: flex;
    gap: 24px;
    flex-direction: column;
  }
 .heading-style-h2{
  color: var(--primary-dark-blue, #000C24);
  font-family: Poppins;
  font-size: 3rem;
  font-style: normal;
  font-weight: 800;
  line-height: 3rem; /* 100% */
  text-transform: uppercase;
}
.list__group{

  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  
}
  
.list__item{
  /* width: 20rem; */
  display: flex;
  overflow: hidden;
  border-radius: 0.25rem;
  align-items: flex-start;
  gap: 0.5rem;
}


.section-4{

    display: flex;
    overflow: hidden;
    padding: 3.9375rem 9.25rem 0rem 9.25rem;
    background: var(--dark-blue, #181940);
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 5.625rem;
    overflow: hidden;
    box-shadow: 0px -57px 46.9px -19px rgba(0, 0, 0, 0.20) inset;
    
}



.section__header{
  /* width: 59.375rem; */
  
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.heading__description{
 
  color: rgba(0, 0, 0, 0.70);
  text-align: center;
  font-family: Poppins;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  padding: 0px 14rem;
  line-height: 2rem; /* 160% */
}
.heading__description-white{
    color: var(--white-gray, #D6D3D3);
    
}

.section__title{
    font-family: Poppins;
    font-size: 3rem;
    font-style: normal;
    font-weight: 800;
    line-height: 3rem;
}

.section__title-yellow{
  color: var(--Accent, #FFC300);
}

.section__title-black{
  color: var(--primary-dark-blue, #000C24);
}

.section-5{

  background: #ffffff;
  margin-top: -3rem;
}
  
.container-gap{
  gap: 32px;
}

